@use "../../sass" as *;

.hover-glow {
  background-color: rgba(255, 255, 255, 0);
  filter: drop-shadow(0 0 0em $color-success);
  will-change: filter, background-color;
  transition: background-color 0.3s, filter 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
    filter: drop-shadow(0 0 0.5em $color-success);
  }

  @media only screen and (max-width: 576px) {
    background-color: none;
    filter: none;
    &:hover {
      background-color: none;
      filter: none;
    }
  }
}
