@use "../../sass" as *;
@import "node_modules/bootstrap/scss/bootstrap";

.btn-dark {
  background-color: var(--bs-dark);
  color: var(--bs-text-white);

  &:hover {
    --bs-btn-color: var(--bs-white);
  }
}

.btn-primary {
  --bs-btn-color: #f4f4f4 !important;

  &:hover {
    --bs-btn-hover-color: var(--bs-white) !important;
  }
}
